// Sassy
@use "normalize";
@use "skeleton";
@use "variables" as *;
@import "header";
@import "footer";

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  background-color: #f1f2f1;
}

.bg-white {
  background-color: white;
}

.no-break {
  white-space: nowrap;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}
h1 {
  font-size: 44px;
}

.alert,
.notice {
  padding: 2rem;
  border-radius: 4px;
  border-color: #f1f2f1;
  border-width: 1px;
  background: $white;
}
