<footer>
    <div class="container">
        <nav class="border">
            <a href="/">
                <img src="https://tengrinews.kz/tengri_new/img/tengri-news.svg
" alt="TengriNews">
            </a><a href="/">
                <img src="https://tengrinews.kz/tengri_new/img/tengri-news.svg
" alt="TengriNews">
            </a>
        </nav>
        <div class="tags border">
            <%# items sized to 1/6 and flex %>
        </div>
        <div class="contacts border">
            <nav>
                <%# link_to %>
            </nav>
            <div class="departments">
                <%# departments %>
                <div class="department">
                    <span>Name</span>
                    <img src="https://tengrinews.kz/tengri_new/img/phone.svg" alt="WhatsApp">
                    <a href="https://api.whatsapp.com/send?phone=77770014499&text=%20">
                        +7 (777) 001 44 99
                    </a>
                </div>
            </div>
            <div class="social">
                <%# items %>
                <a href="">
                    <img src="" alt="Social media link">
                </a>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <span>© 2008-2024 ТОО «EML»</span>
                <img src="https://tengrinews.kz/edu/img/18+.svg">
                <a href="https://tengrinews.kz/page/information/">Правила использования материалов</a>
                <a href="https://tengrinews.kz/page/confidential/">Политика конфиденциальности</a>
            </div>
            <div class="right">
                <span>Скачать наше приложение</span>
                <a href="https://apps.apple.com/kz/app/tengrinews-for-iphone/id510927516">
                    <img src="https://tengrinews.kz/edu/img/app_ios.svg">
                </a>
                <a href="https://play.google.com/store/apps/details?id=kz.tengrinews&amp;pli=1">
                    <img src="https://tengrinews.kz/edu/img/app_android.svg">
                </a>
                <a href="https://appgallery.huawei.com/app/C101462841?sharePrepath=ag&amp;locale=ru_RU&amp;source=appshare&amp;subsource=C101462841">
                    <img src="https://tengrinews.kz/edu/img/app_huawei.svg">
                </a>
            </div>
        </div>
    </div>
</footer>
