<header id="top">
    <div class="container">
        <nav>
            <a href="">NEWS</a>
            <a href="">NEWS2</a>
        </nav>
        <a href="https://tengrinews.kz/page/contact/">
            Редакция
            <img src="https://tengrinews.kz/tengri_new/img/phone.svg"> +7 (777) 001 44 99
        </a>
    </div>
</header>
