<% content_for :main_content do %>
    <header id="articles" class="container">
        <div class="menu bg-white
">
            <div class="left">
                <div class="burger">
                    <div></div>
                </div>
                <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt="TengriNews Logo">
                <nav>
                    <a href="/">Новости</a>
                    <a href="/">Статьи</a>
                    <a href="/">Что будет с Казахстаном?</a>
                </nav>
            </div>
            <div class="right">
                <button>
                    <img src="https://tengrinews.kz/tengri_new/img/menu-lang.svg" alt="Language Switch">
                </button>
                <button>
                    <img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt="Search">
                </button>
            </div>
        </div>
        <a class="wp_link" href="https://whatsapp.com/channel/0029VaC8d1M3AzNVm4DlYk2H">
            <div>Подписывайтесь на канал Tengrinews.kz в WhatsApp</div>
            <img src="https://tengrinews.kz/tengri_new/img/urgent-button.svg" alt="Button">
        </a>
    </header>
    <div id="articles-layout" class="row container bg-white">
        <div id="articles-content">
            <%= yield %>
        </div>
        <div id="side-feed">
            <button>Последние</button><button>Популярные</button>
            <div>
                <% for item in Array.new(25) %>
                    <h1>A</h1>
                <% end %>
                <%# latest / popular news %>
            </div>
        </div>
    </div>
<% end %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "articles", "data-turbo-track": "reload" %>
<% end %>
<%= render template: 'layouts/application' %>
